.card-item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
}

.card-item-link, .card-item-link-dark {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
}

.card-item-link-dark {
    box-shadow: 0 6px 20px #202020;
    -webkit-filter: drop-shadow(0 6px 20px #202020);
    filter: drop-shadow(0 6px 20px #202020);
}

.card-item-pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
    z-index: 0;
}

.card-item-pic-wrap::after {
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    box-sizing: border-box;
    z-index: 0;
}

.card-item-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
    border: none;
    opacity: 1;
    z-index: 0;
}

.card-item-text, .card-item-text-dark {
    color: #F0F8FF;
    font-size: 22px;
    line-height: 24px;
    display: none;
    margin: -58% -10% 5% 5%;
    width: 90%;
}

.card-item-details, .card-item-details-dark {
    color: #F0F8FF;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin: 2% 0% 0% 5%;
    display: none;
}

.card-item-date, .card-item-date-dark {
    color: #6495ED;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin: 2% -10% 5% 5%;
    display: none;
}

.card-item:hover {
    .card-text {
        animation: card-text 0.5s linear 0s 1;
    }

    .card-item-text, .card-item-text-dark {
        display: grid;
        z-index: 10;
        position: relative;
    }

    .card-item-date, .card-item-date-dark {
        display: grid;
        z-index: 10;
        position: relative;
    }

    .card-item-details, .card-item-details-dark {
        display: grid;
        z-index: 10;
        position: relative;
        /* margin-bottom: calc((100%) - 300px); */
        margin-bottom: calc(44% - 40px);
        width: 90%;
    }

    .card-item-pic-wrap {
        filter: brightness(15%);
    }
}

@keyframes card-text {
    0% {
        margin-top: -65%;
    }
}