.cards {
  padding: 0rem 2rem 2rem 2rem;
}

.cards-dark {
  padding: 0rem 2rem 2rem 2rem;
}

.cards > h1, .cards-dark > h1 {
  text-align: left;
  margin-left: 60px; 
}

.cards-dark > h1 {
  color: #D3D3D3	;
}

.cards-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.cards-wrapper {
  position: relative;
  margin: 50px 0 45px;
  width: 100%;
}

.cards-items {
  margin-bottom: 24px;
}

@media only screen and (min-width: 1024px) {
  .cards-items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards-items {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 500px) {
  .cards > h1, .cards-dark > h1 {
    margin: 0vmin 1vmin 1vmin 1vmin;
    font-size: 8vmin;
  }
}