.footer-container {
    background-color: #242424;
    background: #242424;
    padding: 2rem 0 0rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-farewell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 24px;
    color: #fff;
}

.footer-farewell-message {
    font-size: 24px;
}

.social-media-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 20px auto 40px auto;
}

.fa-copyright {
    margin-right: 10px;
    font-size: 12px;
}

.website-rights {
    color: #fff;
    margin-bottom: 16px;
    margin-right: 0px;
}
