video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.hero-container {
    background: #e0ffff;
    display: flex;
    justify-content: center;
    height: auto;
}

.hero-subcontainer {
    background: #87ceeb;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    object-fit: contain;
    margin: auto 100px auto 100px;
    margin-top: 30px;
    border-radius: 2%;
}

.hero-welcome {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    margin-left: 40px;
}

.hero-welcome > h2 {
    color: #242424;
    font-size: 100px;
    margin-top: -100px;
    left: auto;
}

.hero-welcome > p {
    color: #242424;
    margin-top: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-welcome-header {
    font-size: 40px;
}

.hero-welcome-explain {
    font-size: 18px;
}

.hero-intro > img {
    border-radius: 100%;
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    object-fit: cover;
}

.hero-intro {
    margin: 50px 100px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-intro > p {
    text-align: center;
    margin-top: 10px
}

.hero-btns {
    margin-top: 32px;
}

.hero-btns .btn {
    margin: 6px;
}

.fa-play-circle {
    margin-left: 4px;
}

@media screen and (max-width: 960px) {
    .hero-container > h1 {
        font-size: 70px;
        margin-top: -100px;
    }

    .hero-container > p {
        font-size: 35px;
    }
}

@media screen and (max-width: 768px) {
    .hero-container > h1 {
        font-size: 50px;
        margin-top: -100px;
    }

    .hero-container > p {
        font-size: 30px;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }
    
    .btn {
        width: 100%;
    }
}