.navbar {
  background-image: linear-gradient(90deg, #bde0ff, #F0F8FF);
  height: 80px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  top: 0;
  z-index: 999;
  animation: home-background-navbar 11s ease 0s 1;
}

@keyframes navbar {
  0% {
    top: -100px;
  }
  70% {
    top: -100px;
  }
  80% {
    top: 0px;
  }
}

.navbar-container {
  display: flex;
  background: #242424;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  position: relative;
  animation: navbar 10s ease 0s 1;
  padding: none;
  margin: 0px 0px;
}

.navbar-logo, .navbar-logo-dark  {
  color: #e0ffff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.navbar-logo-dark {
  color: #E5E4E2;
}

.navbar-logo:hover, .navbar-logo-dark:hover {
  transform: scale(1.05);
}

.nav-menu, .nav-menu-active {
  display: grid;
  background: #242424;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  height: 80px;
}

.nav-links, .nav-links-dark  {
  color: #e0ffff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  font-weight: 600;
}

.nav-links-dark {
  color: #E5E4E2;
}

.nav-links:hover, .nav-links-dark:hover {
  border-bottom: 4px solid #e0ffff;
  transition: all 0.2s ease-out;
}

.nav-links-mobile {
  display: none;
}

.light-button, .dark-button {
  background: #242424;
  border: none;
  color: #e0ffff;
  position: absolute;
  right: 32px;
  top: 22px;

  transition: all 0.5s;
} 

.dark-button {
  color: white;
}

.toggle-container, .toggle-container-dark  {
  width: 80px;
  height: 40px;
  background: #89CFF0;
  border-radius: 40px;
  border: solid 2px white;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.toggle-container-dark {  
  background: #5c5470;
}

.fa-regular {
  font-size: 24px;
}

.fa-sun, .fa-moon {
  color: #FFEA00;
  background: #6495ED;
  padding: 5px;
  border-radius: 20px;
  width: 36px;
  margin-left: 0px;
  transition: margin-left 0.7s ease;
}

.fa-moon {
  color: #87ceeb;
  background: #352f44;
  margin-left: 40px;
}

.fa-sun:hover, .fa-moon:hover {
  filter: brightness(120%);
}

.light-menu-button, .dark-menu-button {
  display: none;
}

@keyframes home-background-navbar {
  0% {
    filter: brightness(10%);
  }
  60% {
    filter: brightness(10%);
  }
  90% {
    filter: brightness(100%);
  }
}  
  
@media screen and (max-width: 960px) {
  .nav-menu, .nav-menu-active {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    top: 80px;
    padding-bottom: 25%;
    opacity: 1;
    transition: left 0.5s ease-in-out;
    background: #242424;
  }

  .light-menu-button, .dark-menu-button {
    display: block;
    position: relative;
    top: 0.5vmin;
    left: 40vmin;
    border: none;
    margin: 0;
    padding: 0;
  }

  .light-menu-button > h1, .dark-menu-button > h1 {
    background: #242424;
    color: white;
    font-size: 40px;
    padding: 0px 10px;
    transition: all 1s ease-in-out;
  }

  .nav-menu-active {
    left: 0%;
  }

  .nav-menu {
    left: -100%;
  }

  .nav-links, .nav-links-dark {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    border-radius: 0;
  }

  .navbar-logo, .navbar-logo-dark {
    position: absolute;
    top: 5px;
    left: -40px;
    transform: translate(25%, 50%);
  }

  .navbar-container {
    display: flex;
    background: #242424;
    position: static;
    justify-content: left;
    align-items: left;
    height: 80px;
    max-width: 1500px;
  }

  .light-button, .dark-button {
    background: #242424;
    border: none;
    color: #e0ffff;
    position: relative;
    top: 10vmin;
    align-self: center;
    left: 0.5vmin;
    transition: all 0.5s;
  } 
}


