.NavBar {
    background: #242424;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navbar-container {
    display: flex;
    background: #242424;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
  }
  
  .navbar-logo {
    color: #e0ffff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }

  .navbar-logo-dark {
    color: white;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }

  .navbar-logo:hover {
    transform: scale(1.05);
  }

  .navbar-logo-dark:hover {
    transform: scale(1.05);
  }
  
  .nav-menu {
    display: grid;
    background: #242424;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
  }
  
  .nav-item {
    height: 80px;
  }
  
  .nav-links {
    color: #e0ffff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }

  .nav-links-dark {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }
  
  .nav-links:hover {
    border-bottom: 4px solid #e0ffff;
    transition: all 0.2s ease-out;
  }

  .nav-links-dark:hover {
    border-bottom: 4px solid white;
    transition: all 0.2s ease-out;
  }
  
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        position: absolute;
        top: 80px;
        padding-bottom: 25%;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease-in-out;
      }
  
    .nav-menu.active {
        background: #242424;
        width: 40%;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
      }
  
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav-links:hover {
      border-radius: 0;
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
  }

.light-button {
  background: #242424;
  border: none;
  color: #e0ffff;
  position: absolute;
  right: 32px;
  top: 22px;

  transition: all 0.5s;
} 

.dark-button {
  background: #242424;
  border: none;
  color: white;
  position: absolute;
  right: 32px;
  top: 22px;

  transition: all 0.5s;
}

.toggle-container {
  width: 80px;
  height: 40px;
  background: #e0ffff;
  border-radius: 40px;
  border: solid 2px white;
  display: flex;
  flex-direction: row;
  justify-content: start;

}

.toggle-container-dark {
  width: 80px;
  height: 40px;
  background: #606060;
  border-radius: 40px;
  border: solid 2px white;
  display: flex;
  flex-direction: row;
  justify-content: start;

}

.fa-regular {
  font-size: 24px;
}

.fa-sun {
  color: #303030;
  background: #87ceeb;
  padding: 5px;
  border-radius: 20px;
  width: 36px;

  margin-left: 0px;
  transition: margin-left 1s ease;
}

.fa-moon {
  color: #87ceeb;
  background: #303030;
  padding: 5px;
  border-radius: 20px;
  width: 36px;

  margin-left: 40px;
  transition: margin-left 1s ease;
}
