.skills-wrapper, .skills-wrapper-dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 4vw 0vw 0vw 0vw;
    animation: home-background 11s ease 0s 1;
}

.skills-wrapper > h1, .skills-wrapper-dark > h1  {
    padding-left: 9vw;
    font-size: 32px;
    color: #242424;
    animation: text 11s ease 0s 1;
}

.skills-wrapper-dark > h1 {
    color: #C0C0C0;
    animation: text-dark 11s ease 0s 1;
}

.skills, .skills-dark {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    margin: 4vw 10vw;
    padding: 2vw;
    border-radius: 20px;
}

.skills-column, .skills-column-dark {
    padding: 2vw 3vw 0vw 3vw;
    margin: 2vw;
    height: 50vmin;
}

.skills-column > h1, .skills-column-dark > h1 {
    font-size: 32px;
    margin-bottom: 24px;
    color: #242424;
    animation: text 11s ease 0s 1;
}

.skills-column-dark > h1 {
    color: #D3D3D3;
    animation: text-dark 11s ease 0s 1;
}

.skills-column > p, .skills-column-dark > p {
    font-size: 20px;
    margin: 40px 0px;
    color: #242424;
    animation: text 11s ease 0s 1;
}

.skills-column > p:hover, .skills-column-dark > p:hover {
    font-size: 24px;
    font-weight: 700;
    margin: 40px 0px -5.5px 0px;
}

.skills-column-dark > p {
    color: #D3D3D3;
    animation: text-dark 11s ease 0s 1;
}

@media screen and (max-width: 500px) {
    .skills-wrapper > h1, .skills-wrapper-dark > h1 {
        font-size: 8vmin;
        margin: 6vmin 4vmin 2vmin 1vmin;
        align-self: flex-start;
    }

    .skills, .skills-dark {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        margin: 4vw 10vw;
        padding: 2vw;
        border-radius: 20px;
    }

    .skills-column > h1, .skills-column-dark > h1 {
        font-size:6vmin;
    }

    .skills-column > p, .skills-column-dark > p {
        font-size:4vmin;
        margin: 2vmin;
    }

    .skills-column, .skills-column-dark {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}