* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.home,
.resume {
  display: block;
  height: auto;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.home-wrapper {
  background-image: linear-gradient(90deg, #bde0ff, #F0F8FF);
}

.home-wrapper-dark {
  background-image: linear-gradient(90deg, #352f44, #5c5470);
}

.home-dark,
.resume-dark {
  display: block;
  height: auto;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.resume {
  background-image: linear-gradient(90deg, #bde0ff, #F0F8FF);
}

.resume-dark {
  background-image: linear-gradient(90deg, #2a2438, #5c5470);
}

.document {
  margin-left: 190px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
}

/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a0a0a0;
  border-radius: 10px;
  border: 2px solid white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #808080;
}
